@{
    ViewData["Title"] = "Confirmation";
}
@model Burialmain


<div class="text-center">
    <h1>You're Record was Successfully Created!</h1>
    <a asp-controller="Admin" asp-action="Crud" class="btn btn-primary">Return to Update Page</a>
</div>
