@{
    ViewData["Title"] = "Update";
}
@model Burialmain

<h1>Update a Record</h1>

<div>
    <form method="post" asp-controller="Admin" asp-action="Edit">
        <input type="hidden" asp-for="Id" />

        <label asp-for="Squarenorthsouth">Sqaure North South: </label>
        <input asp-for="Squarenorthsouth" type="text" /><br />

        <label asp-for="Northsouth">North South: </label>
        <input asp-for="Northsouth" type="text" /><br />

        <label asp-for="Squareeastwest">Sqaure East West: </label>
        <input asp-for="Squareeastwest" type="text" /><br />

        <label asp-for="Eastwest">East West: </label>
        <input asp-for="Eastwest" type="text" /><br />

        <label asp-for="Area">Area: </label>
        <input asp-for="Area" type="text" /><br />

        <label asp-for="Burialnumber">Burial Number: </label>
        <input asp-for="Burialnumber" type="text" /><br />

        <label>Sex: </label>
        <input asp-for="Sex" type="radio" value="M" />
        <label asp-for="Sex">Male</label>
        <input asp-for="Sex" type="radio" value="F" />
        <label asp-for="Sex">Female</label><br />

        <label asp-for="Depth">Depth: </label>
        <input asp-for="Depth" type="text" /><br />

        <label asp-for="Length">Length: </label>
        <input asp-for="Length" type="text" /><br />

        <label asp-for="Ageatdeath">Age at Death: </label>
        <input asp-for="Ageatdeath" type="text" /><br />

        <label asp-for="Dateofexcavation">Date of Excavation: </label>
        <input asp-for="Dateofexcavation" type="datetime-local" /><br />

        <label asp-for="Haircolor">Hair Color: </label>
        <input asp-for="Haircolor" type="text" /><br />

        <label asp-for="Wrapping">Wrapping: </label>
        <input asp-for="Wrapping" type="text" /><br />

        <label asp-for="Text">Notes: </label>
        <textarea asp-for="Text" rows="5" cols="60" name="text" placeholder="Enter text"></textarea>

        <button type="submit">Submit</button>
    </form>
</div>

@*public long? Burialid { get; set; }
    public string? Sex { get; set; }
    public string? Depth { get; set; }
    public string? Length { get; set; }
    public string? Ageatdeath { get; set; }
    public DateTime? Dateofexcavation { get; set; }
    public string? Text { get; set; }
    public string? Haircolor { get; set; }
    public string? Wrapping { get; set; }*@


@*public string? Squarenorthsouth { get; set; }

    public string? Headdirection { get; set; }

    public string? Northsouth { get; set; }

    public string? Eastwest { get; set; }

    public string? Adultsubadult { get; set; }

    public string? Facebundles { get; set; }

    public string? Southtohead { get; set; }

    public string? Preservation { get; set; }

    public string? Fieldbookpage { get; set; }

    public string? Squareeastwest { get; set; }

    public string? Goods { get; set; }

    public string? Westtohead { get; set; }

    public string? Samplescollected { get; set; }

    public string? Area { get; set; }

    public string? Burialnumber { get; set; }

    public string? Dataexpertinitials { get; set; }

    public string? Westtofeet { get; set; }

    public string? Southtofeet { get; set; }

    public string? Excavationrecorder { get; set; }

    public string? Photos { get; set; }

    public string? Hair { get; set; }

    public string? Burialmaterials { get; set; }

    public string? Fieldbookexcavationyear { get; set; }

    public string? Clusternumber { get; set; }*@

