@{
}

@model BurialDetailsViewModel
<div>
    @foreach (var b in Model.Burialmains)
    {

        <p>@b.BurialId</p>

    }
    @foreach (var b in Model.Details)
    {

        <p>@b.TextileDescription</p>

    }
</div>