@{
    ViewData["Title"] = "Home Page";
}



<div class="hero1">
    <div class="video-background1">
        <div class="video-foreground1">
            <iframe src="https://www.youtube.com/embed/TYyF0blnOOU?controls=0&amp;clip=UgkxH6bO0teAuz4bCV0q-9nXyvWc1h_e0ewr&amp;clipt=EMy3ARjwqAI&controls=0&showinfo=0&autoplay=1&mute=1&loop=1&modestbranding=1" title="YouTube video player" allow="autoplay; loop;"></iframe>
            @*<iframe src="https://www.youtube.com/embed/TYyF0blnOOU?controls=0&amp;clip=UgkxCRfZe_2VP2fn4PZPdMyd2PZPOzFeXHJX&amp;clipt=EJBOGNCMAQ&controls=0&autoplay=1&mute=1&loop=1&modestbranding=1" title="YouTube video player" allow="autoplay; loop;"></iframe>*@
        </div>
    </div>

    <div class="hero-text1">
        <h1>Fag el-Gamous</h1>
        <h2 class="display-4">Welcome</h2>
        <p>Learn about <i>The Way of the Buffalo</i>!</p>
        @*<a class="btn btn-primary" asp-controller="Home" asp-action="BurialList">Burial List</a>*@
    </div>
</div>

    
<div style="margin-top:40px;display:flex; flex-direction:column">
    <h2 class="text-center">So, what is Fag el-Gamous?</h2>
    <p class="text-center">Fag El-Gamous means "Way of the Water Buffalo"</p>
    <div style="display:flex;flex-direction:row; align-content:space-between;gap:5%;margin:20px 10px">
        <figure>
            <img  src="https://www.researchgate.net/publication/273490699/figure/fig1/AS:269555217989638@1441278380533/Map-of-Egypt-inset-and-Fayoum-Depression-showing-location-of-the-Fag-el-Gamous.png"
                 alt="Fag El-Gamous Image" width="600">
            <figcaption style="max-width:600px; word-wrap:break-word; display:inline-block;font-size:15px;">Image courtesy of ReasearchGate.net</figcaption>
        </figure>
        <p style="align-self:center;">"This cemetery was in use during the Graeco-Roman era of Egyptian history.
        In the early 1900’s some Mummy Portraits were found there by Bernard Grenfell and Arthur Hunt.
        The cemetery is very large and densely populated with burials.
        Some lie in the mudstone escarpments, where tombs were carved into the rocks.
        These are typically somewhat wealthier burials, including a golden masked mummy who was the
        daughter of a priest in the Ptolemaic period. Most of the burials lie loose in the sand.
        These burials range from being fully skeletalized to being extremely well preserved.
        They range from just after 300 BC to about 500 AD. During that time period nearly all of the inhabitants
        of the Fayoum converted to Christianity. There is some evidence for this in the burials.
        We are doing vigorous research attempting to determine if there are more detectable archaeological markers
        pointing to Christian burial practices." (https://arce.org/project/fag-el-gamous-excavation-project/)</p>
      </div>
    <div style="align-self: end; margin-right:15px;">
          <figure style="display:flex;flex-direction:column">
            <img src="https://arce.org/wp-content/uploads/files-imported/DSCN3815_0.JPG"
                 alt="Fag El-Gamous Image" width="600">
            <figcaption style="max-width:500px; word-wrap:break-word; display:inline-block; font-size:15px;">Image courtesy of arce.org</figcaption>
        </figure>
    </div>
</div>
