@{
    ViewData["Title"] = "Home Page";
}



<div class="hero1">
    <div class="video-background1">
        <div class="video-foreground1">
            <iframe src="https://www.youtube.com/embed/TYyF0blnOOU?controls=0&amp;clip=UgkxH6bO0teAuz4bCV0q-9nXyvWc1h_e0ewr&amp;clipt=EMy3ARjwqAI&controls=0&autoplay=1&mute=1&loop=1&modestbranding=1" title="YouTube video player" allow="autoplay; loop;"></iframe>
            @*<iframe src="https://www.youtube.com/embed/TYyF0blnOOU?controls=0&amp;clip=UgkxCRfZe_2VP2fn4PZPdMyd2PZPOzFeXHJX&amp;clipt=EJBOGNCMAQ&controls=0&autoplay=1&mute=1&loop=1&modestbranding=1" title="YouTube video player" allow="autoplay; loop;"></iframe>*@
        </div>
    </div>

    <div class="hero-text1">
        <h1>Fag el-Gamous</h1>
        <h2 class="display-4">Welcome</h2>
        <p>Learn about <i>The Way of the Buffalo</i>!</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="BurialList">Burial List</a>
    </div>
</div>
<div class="text-center">
    
</div>