@{
    ViewData["Title"] = "Home Page";
}



<div class="hero1">
    <div class="video-background1">
        <div class="video-foreground1">
            <iframe src="https://www.youtube.com/embed/TYyF0blnOOU?controls=0&amp;clip=UgkxH6bO0teAuz4bCV0q-9nXyvWc1h_e0ewr&amp;clipt=EMy3ARjwqAI&controls=0&showinfo=0&autoplay=1&mute=1&loop=1&modestbranding=1" title="YouTube video player" allow="autoplay; loop;"></iframe>
            @*<iframe src="https://www.youtube.com/embed/TYyF0blnOOU?controls=0&amp;clip=UgkxCRfZe_2VP2fn4PZPdMyd2PZPOzFeXHJX&amp;clipt=EJBOGNCMAQ&controls=0&autoplay=1&mute=1&loop=1&modestbranding=1" title="YouTube video player" allow="autoplay; loop;"></iframe>*@
        </div>
    </div>

    <div class="hero-text1">
        <h1>Fag el-Gamous</h1>
        <h2 class="display-4">Welcome</h2>
        <p>Learn about <i>The Way of the Buffalo</i>!</p>
        @*<a class="btn btn-primary" asp-controller="Home" asp-action="BurialList">Burial List</a>*@
    </div>
</div>
<div class="text-center">
    
</div>
<div style="margin-top:30px;display:flex; flex-direction:column">
    <h2 class="text-center">So what is Fag El-Gamous?</h2>
    <figure>
        <img  src="https://www.researchgate.net/publication/273490699/figure/fig1/AS:269555217989638@1441278380533/Map-of-Egypt-inset-and-Fayoum-Depression-showing-location-of-the-Fag-el-Gamous.png"
             alt="Fag El-Gamous Image" width="250">
        <figcaption style="max-width:500px; word-wrap:break-word; display:inline-block">Image courtesy of ReasearchGate.net</figcaption>
    </figure>
    <div>
        <p>Fag El-Gamous is an Egyptian cemetery used during the Graeco-Roman era. Discovered in 1980, BYU reseachers began excavating in 1981.</p>
        <figure >
            <img src="https://arce.org/wp-content/uploads/files-imported/DSCN3815_0.JPG"
                 alt="Fag El-Gamous Image" width="250">
            <figcaption style="max-width:500px; word-wrap:break-word; display:inline-block">Image courtesy of arce.org</figcaption>
        </figure>
    </div>
</div>