@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <i>The Way of the Buffalo</i>!</p>
    <button class="btn btn-primary" >Burial List</button>
</div>

