@{
    ViewData["Title"] = "Over-time Analysis";
}
<h1>Over-time Analysis</h1>

<figure>
    <img src="~/img/scatatat.png" alt="Cluster Analysis" width="600">
    <figcaption style="max-width:600px; word-wrap:break-word; display:inline-block;font-size:15px;">Results of Clustering Analysis</figcaption>
</figure>



<figure style="display:inline-block">
    <img src="~/img/CalinskiandHarabaszCriterion.png" alt="Calinski and Harabasz Criterion" width="450">
    <figcaption style="max-width:600px; word-wrap:break-word; display:inline-block;font-size:15px;">Determining the optimal number of clusters</figcaption>
</figure>



<figure style="display:inline-block">
    <img src="~/img/SilhouetteAnalysisforOptimalClusters.png" alt="Silhouette Analysis" width="450">
    <figcaption style="max-width:600px; word-wrap:break-word; display:inline-block;font-size:15px;">Determining the optimal number of clusters</figcaption>
</figure>

<figure style="display:inline-block">
    <img src="~/img/OptimalClustering.png" alt="Optimal Number of Cluster" width="450">
    <figcaption style="max-width:600px; word-wrap:break-word; display:inline-block;font-size:15px;">Determining the optimal number of clusters</figcaption>
</figure>